@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

/* Initials configurations */

:root{
    --pink: hsl(322,100%,66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0,100%,63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --gap: 3rem;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
}
body{
    overflow-x: hidden;
    max-width:139.2rem;
    min-width: 37.5rem;
    font-family: 'Open Sans','Sans-serif';
}

header{
    padding: 3rem 3rem;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 3rem;
}

h1{
    font-size: 4rem;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size:1.5rem;
}

button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    background: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: relative;
    width: 100%;
}

/* HEADER */
.logo{
    height: 2.2rem;
    width: auto;
    cursor: pointer;
    position: absolute;
    left: 6%;
}

.header-button{
    border-radius: 2rem;
    border: 0.01rem solid hsl(321, 100%, 78%);
    background: white;
    color:  hsl(321, 100%, 78%);
    height: 1.8rem;
    width: 6rem;
    box-shadow: 0 0 0.2em hsl(321, 100%, 78%);
    position: absolute;
    right: 6%;
}

/* SECTION ONE */

.main-content{
    max-height: 70%;
    max-width: 120rem;
}
.sections-content{
    min-height: 60vh;
    max-height: 80vh;
    
 
}
.main-content h2,.main-content h1,.main-content p{
    color: var(--very-dark-cyan);
}
.sections-content h2,.sections-content h1,.sections-content p{
    color: var(--very-dark-cyan);
}

.section-one {
    display: flex;
   flex-flow: column wrap;
   justify-content:center;
   align-items: center;
   position: relative;
   bottom: -4rem;
}
.section-one .text-content{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-one .text-content p{
    width: 50%;
    text-align: justify;
    text-align-last: center;
  
}

.section-button{
    margin: var(--gap);
    width: 35%;
    height: 3rem;
    border-radius: 2.5rem;
    background: hsl(322, 100%, 66%);
    color: white;
    font-family:"Open-sans", sans-serif; 
    font-weight: 600;
    box-shadow: 0 0 0.2em hsl(0, 2%, 41%);
   
    
}
.section-button:hover{
    background: var(--light-pink);
    box-shadow: none;
}

.image-page{
    margin-top: 3rem;
    width: 85%;
   
}

.infos-content{
    height: 50vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

.infos-content img{
    height: 2rem;
    width: auto;
   
}
.infos-content .communities-content h1,p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infos-content .messages-content h1,p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.grid{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    
}
.reverse{
    grid-template-columns: 1fr 1.5fr;
}

.grid img{
    height: 40%;
    width: auto;
    padding: var(--gap);
}

#grow-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-pale-blue);
    position: relative;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

#users-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--very-pale-blue);
    position: relative;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

#flow-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--gap);
    margin-bottom: var(--gap);
}

#grow-section .top-content{
    background-image: url(/assets/images/bg-section-top-desktop-1.svg);
    background-size: 100% 8.5rem ;
    background-repeat: no-repeat;
    height: 8.5rem;
    width: 100%;
    position: absolute;
    z-index: 1313;
    bottom: 100%;
}
#grow-section .bottom-content{
    background-image: url(/assets/images/bg-section-bottom-desktop-1.svg);
    background-size: 100% 8.5rem ;
    background-repeat: no-repeat;
    height: 8.5rem;
    width: 100%;
    position: absolute;
    z-index: 1313;
    top: 100%;
}

#users-section .top-content{
    background-image: url(/assets/images/bg-section-top-desktop-2.svg);
    background-size: 100% 8.5rem ;
    background-repeat: no-repeat;
    height: 8.5rem;
    width: 100%;
    position: absolute;
    z-index: 1313;
    bottom: 100%;
}
#users-section .bottom-content{
    background-image: url(/assets/images/bg-section-bottom-desktop-2.svg);
    background-size: 100% 8.5rem ;
    background-repeat: no-repeat;
    height: 8.5rem;
    width: 100%;
    position: absolute;
    z-index: 1313;
    top: 100%;
}


.grid .text-content{
    padding: var(--gap);
}

.last-section{
    bottom: -8rem;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

#footer-top-content{
    background-image: url(/assets/images/bg-footer-top-desktop.svg);
    background-size: 100% 8.5rem ;
    background-repeat: no-repeat;
    height: 8.5rem;
    width: 100%;
    position: absolute;
    z-index: 1313;
    bottom: 100%;
}

footer{
    width: 100vw;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--very-dark-cyan);
    color: white;
    gap: var(--gap);
    display: flex;
    align-items: stretch;
    position: relative;
}

footer p{
    font-size: 1rem;
}



.logo-content{
    display: flex;
    align-items: center;
}

.logo-content img{
    height: 2.6rem;
    width: auto;
}
.lorem{
    width: 80%;
    text-align: justify;
}
.footer-section{
    padding: var(--gap);
}

.phone-content, .email-content{
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone-content img, .email-content img{
    width: auto;
    height: 0.9rem;
    margin-right: 0.8rem;
}
.info-section{
    position: relative;
}
.icons-content{
    margin-top: 12%;
    position: absolute;
    bottom: 15%;
}

#instagram, #facebook, #twitter{
    cursor: pointer;
    height: 2.5rem;
    width:2.5rem;
    fill: white;
}

#instagram:hover{
    fill: hsl(326, 57%, 48%);
}
#facebook:hover{
    fill: #3b5998;
}

#twitter:hover{
    fill:#00acee;
}
.input-content{
    margin: 1rem auto;
}

input{
    width: 14rem;
    height: 2rem;
    border: 0.01rem black solid;
    border-radius: 0.4rem;
}

.subscribe-button:hover{
    background: var(--light-pink);
    box-shadow: none;
}

.subscribe-button{
    border-radius: 0.4rem;
    height:2rem;
    width: 7rem;
    border: none;
    background: hsl(322, 100%, 66%);
    color: white;
    font-family:"Open-sans", sans-serif; 
    font-weight: 600;
    margin-left: 1.5rem;
}



/* Mobile S*/
@media screen and (min-width:320px) and (max-width: 374px){}
/* Mobile M */
@media screen and (min-width: 375px) and (max-width:432px){}

/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 768px) {}

@media screen and (min-width: 768px) and (max-width:1024px){}

/* Laptop */
@media screen and (min-width: 1025px) and (max-width: 1200px){}